@layer components
{
    .btn-input {

        --input-color: color-mix(in oklab, var(--color-base-content) 20%, #0000);

        border-color: var(--input-color) !important;
        --btn-border: var(--input-color);

        box-shadow:
            0 1px color-mix(in oklab, var(--input-color) calc(var(--depth) * 10%), #0000) inset,
            0 -1px oklch(100% 0 0 / calc(var(--depth) * 0.1)) inset;

        background-color: var(--color-base-100);
        --btn-bg: var(--color-base-100);

        --btn-shadow: none;
        --btn-noise: none;

        @media (hover: hover) {
            &:hover {
                background-color: color-mix(in oklab, var(--color-base-100), #000 2%);
                --btn-bg: color-mix(in oklab, var(--color-base-100), #000 2%);
            }
        }

        &:focus,
        &:focus-visible,
        &:has(:focus-visible) {
            outline: none;
            isolation: isolate;
        }

        &:active:not(.btn-active) {
            translate: 0 0.5px;
            background-color: color-mix(in oklab, var(--color-base-100), #000 3%);
        }

        &.join-item:disabled {
            border-inline-end-width: 1px !important;
            border-inline-end-style: solid !important;
            border-inline-end-color: var(--input-color) !important;
        }
    }

    .btn-input-error {
        --input-color: var(--color-error) !important;
        border-color: var(--color-error) !important;
        --btn-border: var(--color-error);

        box-shadow:
            0 1px color-mix(in oklab, var(--color-error) calc(var(--depth) * 10%), #0000) inset,
            0 -1px oklch(100% 0 0 / calc(var(--depth) * 0.1)) inset;
    }
}