:root
{
    ---spinner-bounce-color : oklch(var(--color-base-content)) ;
}

.spinner-bounce
{
    position : relative ;
    width    : 2.5rem ;  /* size-10 */
    height   : 2.5rem ;  /* size-10 */
}

.spinner-bounce-dot
{
    position         : absolute ;
    width            : 100% ;     /* size-full */
    height           : 100% ;     /* size-full */
    top              : 0 ;
    left             : 0 ;
    opacity          : 0.6 ;      /* opacity-60 */
    background-color : var(---spinner-bounce-color) ;
    border-radius    : 50% ;
    animation        : spinner-bounce 2s infinite cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
}

.spinner-bounce-dot:nth-child(2)
{
    animation-delay : -1s ;
}

@keyframes spinner-bounce
{
    0%, 100%
    {
        transform : scale(0) ;
    }

    45%, 55%
    {
        transform : scale(1) ;
    }
}