:root
{
    ---spinner-magnifying-glass-color : oklch(var(--color-base-content)) ;
}

.spinner-magnifying-glass
{
    position      : relative ;
    display       : block ;
    box-sizing    : border-box ;
    margin        : 1.25rem auto ;    /* my-5 mx-auto */
    width         : 3rem ;            /* size-12 */
    height        : 3rem ;            /* size-12 */
    border        : 2px solid ;
    border-color  : var(---spinner-magnifying-glass-color) ;
    border-radius : 50% ;             /* rounded-full */
    animation     : spinner-magnifying-glass-animation 2s linear infinite ;
}

.spinner-magnifying-glass::after
{
    content    : '' ;
    position   : absolute ;
    bottom     : -20px ;
    left       : 46px ;
    width      : 0.375rem ;           /* w-1.5 */
    height     : 1.5rem ;             /* h-6 */
    background : var(---spinner-magnifying-glass-color) ;
    box-sizing : border-box ;
    transform  : rotate(-45deg) ;
}

@keyframes spinner-magnifying-glass-animation
{
    0%
    {
        transform : translate(-10px, -10px) ;
    }

    25%
    {
        transform : translate(-10px, 10px) ;
    }

    50%
    {
        transform : translate(10px, 10px) ;
    }

    75%
    {
        transform : translate(10px, -10px) ;
    }

    100%
    {
        transform : translate(-10px, -10px) ;
    }
}