# Copy this file to .env.local before running the project:
# cp .env.example .env.local

# --------------------------------------------------
# Next.js (Development)
# --------------------------------------------------

# Comma-separated list of origins allowed to access the Next.js dev server
# Update this in your local .env.local if you need mobile, Docker or LAN access
# Example values: localhost,127.0.0.1,192.168.*.*,10.*.*.*
NEXT_ALLOWED_DEV_ORIGINS=localhost,127.0.0.1

# --------------------------------------------------
# Public App Configuration
# --------------------------------------------------

NEXT_PUBLIC_APP_NAME    = oihana-next-ui
NEXT_PUBLIC_APP_VERBOSE = false

NEXT_PUBLIC_APP_AUTHOR       = "Marc Alcaraz (eKameleon)"
NEXT_PUBLIC_APP_DESCRIPTION  = "The Oihana NextJS UI library."
NEXT_PUBLIC_APP_KEYWORDS     = "nextjs"
NEXT_PUBLIC_APP_SHORT_TITLE  = "Oihana Next UI"
NEXT_PUBLIC_APP_TITLE        = "Oihana Next UI"
NEXT_PUBLIC_APP_FULLSCREEN   = true

NEXT_PUBLIC_LOGO_LIGHT         = "/assets/logos/oihana-next-ui-logo-light-512x160.svg"
NEXT_PUBLIC_LOGO_DARK          = "/assets/logos/oihana-next-ui-logo-dark-512x160.svg"
NEXT_PUBLIC_LOGO_SPLASH_SCREEN = "/assets/logos/oihana-next-ui-logo-512x512.svg"

NEXT_PUBLIC_APP_DEFAULT_LANG=fr
NEXT_PUBLIC_APP_LANG=fr
NEXT_PUBLIC_APP_HOMEPAGE=http://localhost:3666

NEXT_PUBLIC_APP_THEME_LIGHT=oihana-ui-light
NEXT_PUBLIC_APP_THEME_DARK=oihana-ui-dark
